@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

title, h1, h2 {
  font-family: "Raleway", sans-serif;
}

body {
    font-family: 'Antic Slab', serif;
}

.white-icon {
  color: white;
}

